@import './resets';
@import './variables';
// Above is a partial (if project is large then we can create small components and the compiler will only read them when they are imported)

// Functions
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background: $primary-color;
    font-weight: map-get($font-weights , bold);
    color: $text-color;
}

.main{
    width: 80%;
    margin: 0 auto;

    @include flexCenter(row);    

    // in below & replaces the parent tag that is (.main)
    // and # tells us that main-paragraph should be the one that is inside parent component and it should not be styled outside it

    #{&}-paragraph{
        background-color: $secondary-color;

        font-weight: weight(bold);

        &:hover{
            color:pink;
            cursor: pointer;
        }
    }

}